<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>

{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
<title> Calorie King </title>
    <meta charset="UTF-8">
    
</head>
<body>
<h1> Calorie King</h1>
<a href="http://127.0.0.1:8000/logout/" class="right">Logout</a>
<a href= "http://127.0.0.1:8000/signup/" class="right">Sign Up/</a>
<a href= "http://127.0.0.1:8000/login/" class="right">Login/</a>
<table style="width:100%">
  <tr>
    <th><a href= "http://127.0.0.1:8000/"> Home </a></th>
    <th><a href= "http://127.0.0.1:8000/search/"> Calorie Search </a></th>
    <th><a href= "http://127.0.0.1:8000/burnersearch/"> Burner Search </a></th>
    <th><a href= "http://127.0.0.1:8000/counter/"> Calorie Counter </a></th>
    <th><a href= "http://127.0.0.1:8000/burnercounter/"> Burner Counter </a></th>
    <th> <a href= "http://127.0.0.1:8000/results/"> Calorie Results </a></th>
    <th> <a href= "http://127.0.0.1:8000/burnerresults/"> Burner Results </a></th>
    <th> <a href= "http://127.0.0.1:8000/contact/"> Contact </a></th>
 </tr>
</table>
<br>
<div id="quoteDisplay" style="font-size:30px">
</div>
<button onclick="newQuote()">Calorie Burning Tip</button>
<br>

<form method="POST">
  {% csrf_token %}
  <div class="center">
    <input type="text" name="query" placeholder="search for Activities" required>
    <button type="submit">Find Calories Burned</button>
  </div>

</form>
  <li>
    <ul class="center"> Calories per Hour:</ul>
    <ul class="center"> Duration in Minutes:</ul>
    <ul class="center"> Total Calories: </ul>
    
  </li>
  <script> 
    var quotes = [
    'Taking the stairs is an easy way to burn calories',
    'Housework and Gardening are good ways to burn calories',
    'Swimming laps for thirty minutes can burn over two hundred calories',
    'Do your work standing rather than sitting',
    'Take your dog on walks to burn calories regularly',
    'Jump roping for 7 minutes can burn 100 calories',
    'Backpack hiking for 1 hour can burn over 500 calories',
    'Playing multiple sports is a good way to burn calories and have fun while doing so',
    'Weight lifting is a great way to burn calories, whether for body building or just a light workout',
    'Strength training is a great way to build muscle',
    'Any and all movement will help burn calories', 
    'Counting calories is a great way to see how many calories you should burn',
    'Running at any intensity is great for burning calories',
  
    ]
    
    function newQuote() {
    var randomNumber = Math.floor(Math.random()*(quotes.length));
    document.getElementById('quoteDisplay').innerHTML = quotes[randomNumber];
    }</script>
</body>
</html>