<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>

{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
<title> Calorie King </title>
    <meta charset="UTF-8">
    
</head>
<body>
<h1> Calorie King</h1>
<a href="http://127.0.0.1:8000/logout/" class="right">Logout</a>
<a href= "http://127.0.0.1:8000/signup/" class="right">Sign Up/</a>
<a href= "http://127.0.0.1:8000/login/" class="right">Login/</a>
<table style="width:100%">
  <tr>
    <th><a href= "http://127.0.0.1:8000/"> Home </a></th>
    <th><a href= "http://127.0.0.1:8000/search/"> Calorie Search </a></th>
    <th><a href= "http://127.0.0.1:8000/burnersearch/"> Burner Search </a></th>
    <th><a href= "http://127.0.0.1:8000/counter/"> Calorie Counter </a></th>
    <th><a href= "http://127.0.0.1:8000/burnercounter/"> Burner Counter </a></th>
    <th> <a href= "http://127.0.0.1:8000/results/"> Calorie Results </a></th>
    <th> <a href= "http://127.0.0.1:8000/burnerresults/"> Burner Results </a></th>
    <th> <a href= "http://127.0.0.1:8000/contact/"> Contact </a></th>
 </tr>
</table>
<br>
<div id="quoteDisplay" style="font-size:30px">
</div>
<button onclick="newQuote()">Calorie Burning Tip</button>
<br>

<form method="POST">
  {% csrf_token %}
  <div class="center">
    <input type="text" name="burnerquery" placeholder="search for Activities" required>
    <button type="submit">Find Calories Burned</button>
  </div>

</form>
  <li>
    <ul class="center"> Calories per Hour: {{burnerapi.0.calories_per_hour}}</ul>
    <ul class="center"> Duration in Minutes:  {{burnerapi.0.duration_minutes}}</ul>
    <ul class="center"> Total Calories: {{burnerapi.0.total_calories}}</ul>
    
  </li>
  <p>Welcome to the Burner Search Page. Here you will search the activity that you did and it will 
    provide you with the data from that workout. The workout provides data based on calories burned per hour
    making it easy to navigate and find your totals. For running, to help you find your true calories burned
    here is a key for you to use when searching the calories burned! When you enter into the search bar,
    put "running, # mph", but put your number instead of #!
  </p>
  <img src="https://as1.ftcdn.net/v2/jpg/02/26/50/62/1000_F_226506291_imi0vFPQCeAfGGXnqkv3YuvZrJnhrdcP.jpg" alt="Workout" class= "right" width="500" height="300">
  <h3>
    Running Key
  </h3>
  <ul>
    <li>running, 5 mph = 12 min mile</li>
    <li>running, 5.2 mph = 11.5 min mile</li>
    <li>running, 6 mph = 10 min mile</li>
    <li>running, 6.7 mph = 9 min mile</li>
    <li>running, 7 mph = 8.5 min mile</li>
    <li>running, 7.5 mph = 8 min mile</li>
    <li>running, 8 mph = 7.5 min mile</li>
    <li>running, 8.6 mph = 7 min mile</li>
    <li>running, 9 mph = 6.5 min mile</li>
    <li>running, 10 mph = 6 min mile</li>
    <li>running, 10.9 mph = 5.5 min mile</li>
  </ul>
  <script> 
    var quotes = [
    'Taking the stairs is an easy way to burn calories',
    'Housework and Gardening are good ways to burn calories',
    'Swimming laps for thirty minutes can burn over two hundred calories',
    'Do your work standing rather than sitting',
    'Take your dog on walks to burn calories regularly',
    'Jump roping for 7 minutes can burn 100 calories',
    'Backpack hiking for 1 hour can burn over 500 calories',
    'Playing multiple sports is a good way to burn calories and have fun while doing so',
    'Weight lifting is a great way to burn calories, whether for body building or just a light workout',
    'Strength training is a great way to build muscle',
    'Any and all movement will help burn calories', 
    'Counting calories is a great way to see how many calories you should burn',
    'Running at any intensity is great for burning calories',
  
    ]
    
    function newQuote() {
    var randomNumber = Math.floor(Math.random()*(quotes.length));
    document.getElementById('quoteDisplay').innerHTML = quotes[randomNumber];
    }</script>
</body>
</html>