<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>

{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
<title> Calorie King </title>
    <meta charset="UTF-8">
    
</head>
<body>
<h1> Calorie King</h1>
<table style="width:100%">
    <table style="width:100%">
        <tr>
          <th><a href= "http://127.0.0.1:8000/"> Home </a></th>
          <th><a href= "http://127.0.0.1:8000/search/"> Calorie Search </a></th>
          <th><a href= "http://127.0.0.1:8000/burnersearch/"> Burner Search </a></th>
          <th><a href= "http://127.0.0.1:8000/counter/"> Calorie Counter </a></th>
          <th><a href= "http://127.0.0.1:8000/burnercounter/"> Burner Counter </a></th>
          <th> <a href= "http://127.0.0.1:8000/contact/"> Contact </a></th>
        </tr>
    </table>


<h3>Login</h3>

<form method="POST" action="">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username" class="form-control">
    <input type="text" name="password" placeholder="Password" class="form-control">
    <input type="submit" value="Login">
</form>
<br>
<a href= "http://127.0.0.1:8000/signup/" class="center">New user? Sign Up Here</a>
</body>
</html>