<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
<title> Calorie King </title>
    <meta charset="UTF-8">
    
</head>
<body>
<h1> Calorie King</h1>
<a href="http://127.0.0.1:8000/logout/" class="right">Logout</a>
<a href= "http://127.0.0.1:8000/signup/" class="right">Sign Up/</a>
<a href= "http://127.0.0.1:8000/login/" class="right">Login/</a>
<table style="width:100%">
  <tr>
    <th><a href= "http://127.0.0.1:8000/"> Home </a></th>
    <th><a href= "http://127.0.0.1:8000/search/"> Calorie Search </a></th>
    <th><a href= "http://127.0.0.1:8000/burnersearch/"> Burner Search </a></th>
    <th><a href= "http://127.0.0.1:8000/counter/"> Calorie Counter </a></th>
    <th><a href= "http://127.0.0.1:8000/burnercounter/"> Burner Counter </a></th>
    <th> <a href= "http://127.0.0.1:8000/results/"> Calorie Results </a></th>
    <th> <a href= "http://127.0.0.1:8000/burnerresults/"> Burner Results </a></th>
    <th> <a href= "http://127.0.0.1:8000/contact/"> Contact </a></th>
 </tr>
</table>
<br>
<div id="quoteDisplay" style="font-size:30px">
</div>
<button onclick="newQuote()">Nutrition Tip</button>
<br><br><br>
<form method="POST">
  {% csrf_token %}
  <div class="center">
    <input type="text" name="query" placeholder="search for food" required>
    <button type="submit">Find Calories</button>
  </div>


  <li>
    <ul class="center"> Calories: {{api.0.calories}}</ul>
    <ul class="center"> Protein: {{api.0.protein_g}}</ul>
    <ul class="center"> Carbohydrates: {{api.0.carbohydrates_total_g}}</ul>
    <ul class="center"> Serving size g: {{api.0.serving_size_g}}</ul>
    <ul class="center"> Fat: {{api.0.fat_total_g}}</ul>
    <ul class="center"> Saturated Fat: {{api.0.fat_saturated_g}}</ul>
    <ul class="center"> Sodium: {{api.0.sodium_mg}}</ul>
    <ul class="center"> Potassium: {{api.0.potassium_mg}}</ul>
    <ul class="center"> Cholesterol: {{api.0.cholesterol_mg}}</ul>
    <ul class="center"> Fiber: {{api.0.fiber_g}}</ul>
    <ul class="center"> Sugar: {{api.0.sugar_g}}</ul>
  </li>


<script> 
    var quotes = [
    'To lose weight you must burn more calories than you eat',
    'Drinking water will keep you hydrated and is free of calories and sugar',
    'Swimming laps for thirty minutes can burn over two hundred calories',
    'Whole eggs are a good source of protein and an excellent source of healthy fats',
    'Drinking whole milk is a good way to get in good amounts of protein and calories for gaining weight',
    'Counting calories is one of the best ways to lose or gain weight',
    'Stop eating high calorie items when cutting calories',
    'Carbohydrates fats and proteins are types of nutrients that are the main energy sources for your body',
    'Stored calories will stay in your body as fat unless you use them up',
    'The most accurate way to determine how much you are eating is to weigh your food',
    'Read food labels because they contain lots of useful information for calorie counting', 
    'Adults typically require between 1600 and 3000 calories per day',
    'Recommended daily calorie intakes in the US are around 2500 for men and 2000 for women',
    'Eating a big breakfast could help with weight reduction and maintenance',
    'Eating regularly can help you burn calories more effectively and helps prevent snacking',
    
    ]
    
    function newQuote() {
    var randomNumber = Math.floor(Math.random()*(quotes.length));
    document.getElementById('quoteDisplay').innerHTML = quotes[randomNumber];
    }</script>
</body>
</html>